{% extends "__base.html" %}
{% load psbookingtags %}
{% load static %}

{% block title %}PS-booking - восстановление пароля{% endblock %}

{% block content %}

    {% include "snippets/_header.html" %}

    <!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-0 mb-5" style="background-image: url({% static 'images/bg/bg8.jpg' %})">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Восстановление пароля</h2>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- hotel detail starts -->
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center" style="min-height: calc(100vh - 453px)">
            <div class="col-auto mb-4">
                <h4>Пожалуйста, укажите свою электронную почту.<br>
                    Перейдите по ссылке в письме для восстановления пароля.
                </h4>
                {{ form.non_field_errors }}
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="form-group mb-0">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <span>{{ field.help_text }}</span>
                        {% if form.email.errors %}
                            <div class="alert alert-danger">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                        <button type="submit" class="nir-btn mt-2">Сбросить пароль</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- hotel detail Ends -->



    {#    <div class="container">#}
    {#    <div class="row">#}
    {#        <div class="col">#}
    {#            <h1>Сброс пароля</h1>#}
    {#            <hr>#}
    {#            <form action="." method="post">#}
    {#                {% csrf_token %}#}
    {#                {{ form.as_p }}#}
    {#                <button type="submit" class="btn btn-success">Отправить ссылку для сброса пароля</button>#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
    {#    </div>#}
{% endblock %}