{% extends "__base.html" %}
{% load psbookingtags %}
{% load static %}

{% block title %}PS-booking - восстановление пароля{% endblock %}

{% block content %}

    {% include "snippets/_header.html" %}

    <!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-0 mb-5" style="background-image: url({% static 'images/bg/bg8.jpg' %})">
        <div class="breadcrumb-outer pt-10">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                    <h2 class="mb-0">Восстановление пароля</h2>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- hotel detail starts -->
    <div class="container mt-5 pt-5">
        <div class="row" style="min-height: calc(100vh - 453px)">
            <div class="col mb-4">
                <p>Ссылка для восстановления пароля отправлена на указанный email</p>
                <a href="{% url 'main:index' %}" class="btn btn-light">На главную</a>
            </div>
        </div>
    </div>
    <!-- hotel detail Ends -->

{% endblock %}