{% extends "__base.html" %}
{% load psbookingtags %}
{% load static %}

{% block title %}PS-booking - изменение пароля{% endblock %}

{% block content %}

    {% include "snippets/_header.html" %}

    <!-- BreadCrumb Starts -->
    <section class="breadcrumb-main pb-2" style="background-image: url({% static 'images/bg/bg8.jpg' %})">
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends -->

    <!-- Dashboard starts -->
    <div class="container my-5 py-5">
        <div class="row">

            {% include "snippets/_left-menu.html" %}

            <div class="col-lg-9">

                <div class="card border-0 shadow-sm">
                    <div class="dashboard-title">
                        <h4 class="mb-0">Изменение пароля</h4>
                    </div>
                    <div class="card-body">
                        {{ form.non_field_errors }}
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="id_old_password" class="form-label">Текущий пароль</label>
                                        {{ form.old_password }}
                                        <span>{{ form.old_password.help_text }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="id_new_password1" class="form-label">Новый пароль</label>
                                        {{ form.new_password1 }}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="id_new_password2" class="form-label">Подтверждение</label>
                                        {{ form.new_password2 }}
                                    </div>
                                </div>
                                <span>{{ form.new_password1.help_text }}</span>
                                <div class="col mt-3">
                                    <button type="submit" class="nir-btn">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}